@using TLAuctionv5.ViewModels.Main;
@using Microsoft.Data.Entity;
@model MyViewModel

<div class="panel panel-default bootcards-table">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.AuctionMD.SelectedAuction.Title</h3>
    </div>
    <table class="table table-hover">
        <tbody>
            <tr><td>Condition:</td><td class="text-right">@Model.AuctionMD.SelectedAuction.ConditionName</td></tr>
            <tr><td>End Date:</td><td class="text-right">@Model.AuctionMD.SelectedAuction.EndDate</td></tr>
            <tr><td># of Bids: </td><td class="text-right">@Model.AuctionMD.SelectedAuction.Bid</td></tr>
            <tr><td>MSRP (Est):</td><td class="text-right">@Model.AuctionMD.SelectedAuction.MSRP.ToString("C0")</td></tr>
            <tr><td><strong>Current Bid:</strong></td><td class="text-right"><strong>@Model.AuctionMD.SelectedAuction.Price.ToString("C0")</strong></td></tr>

            @if (Model.AuctionMD.SelectedAuction.LowPrice < Model.AuctionMD.SelectedAuction.Price)
            {
            <tr><td><strong>Estimated Lowest Price:</strong></td><td class="text-right"><strong class="pricediff-green">@Model.AuctionMD.SelectedAuction.LowPrice.ToString("C0")</strong></td></tr>
            }
            else
            {
            <tr><td><strong>Estimated Lowest Price:</strong></td><td class="text-right"><strong class="pricediff-red">@Model.AuctionMD.SelectedAuction.LowPrice.ToString("C0")</strong></td></tr>
            }

            @if (Model.AuctionMD.SelectedAuction.PriceDiff < 0)
            {
            <tr><td><strong>Estimated Avg Price:</strong></td><td class="text-right"><strong class="pricediff-green">@Model.AuctionMD.SelectedAuction.AvgPrice.ToString("C0")</strong></td></tr>
            }
            else
            {
            <tr><td><strong>Estimated Avg Price:</strong></td><td class="text-right"><strong class="pricediff-red">@Model.AuctionMD.SelectedAuction.AvgPrice.ToString("C0")</strong></td></tr>
            }

            <tr>
                <td colspan="2">
                    <input type="text"
                           name="priceSlider"
                           data-provide="slider"
                           data-ticks-positions="[0, @Model.getSliderMidPct(Model.AuctionMD.SelectedAuction.Price, Model.AuctionMD.SelectedAuction.LowPrice, Model.AuctionMD.SelectedAuction.AvgPrice), 100]"
                           data-slider-ticks="[ @Model.getSliderLow(Model.AuctionMD.SelectedAuction.Price, Model.AuctionMD.SelectedAuction.LowPrice),@Model.getSliderMid(Model.AuctionMD.SelectedAuction.Price, @Model.AuctionMD.SelectedAuction.LowPrice), @Model.AuctionMD.SelectedAuction.AvgPrice]"
                           data-slider-ticks-labels='["@Model.getSliderLow(Model.AuctionMD.SelectedAuction.Price,Model.AuctionMD.SelectedAuction.LowPrice).ToString("C0")","@Model.getSliderMid(Model.AuctionMD.SelectedAuction.Price, Model.AuctionMD.SelectedAuction.LowPrice).ToString("C0")","@Model.AuctionMD.SelectedAuction.AvgPrice.ToString("C0")" ]'
                           data-slider-value="@Model.AuctionMD.SelectedAuction.Price"
                           data-slider-tooltip="show" />
                </td>
            </tr>
        </tbody>
    </table>

    <div class="panel-heading">
        <h3 class="panel-title">@(Model.AuctionMD.SelectedAuction.Title + " Manifest")</h3>
    </div>
    <table class="table table-hover" >
        <thead>
            <tr>
                <th>Qty</th>
                <th>Item</th>
                <th>Low Price</th>
                <th>Avg Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ManifestOpenView manifest in Model.Manifests)
            {
                string strListing = "ProductListing_" + manifest.ProductId;
                <tr>
                    <td>@manifest.Quantity.ToString()</td>
                    <td>@manifest.ProductTitle</td>
                    <td>@manifest.MinPrice.ToString()</td>
                    <td>@manifest.AvgPrice.ToString()</td>
                    <td>@manifest.Total.ToString()</td>
                </tr>

            }
        </tbody>
    </table>
    <div class="panel-footer">
        <small class="pull-left">Estimated Manifest Pricing TLAuctionHistory.com</small>
        <a class="btn btn-link btn-xs pull-right" href="/snippets/table" data-toggle="modal" data-target="#docsModal">
            View Source
        </a>
    </div>
</div>
