@using TLAuction5.HtmlExtensions;
@using TLAuctionv5.ViewModels.Main;
@using Microsoft.Data.Entity;
@model MyViewModel


<div class="container bootcards-container" id="main">
    <div class="row">
        <div class="col-sm-6 bootcards-list" id="list" data-title="Auctions">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="search-form">
                        <div class="row">
                            <div class="col-xs-9">
                                @using (Html.BeginForm("Index", "HomeController", FormMethod.Get))
                                {
                                    <div class="form-group">
                                        @Html.DropDownList("sortOrder", (SelectList)ViewBag.sortList, new { onchange = "this.form.submit();" })
                                        <i class="fa fa-search"></i>
                                    </div>
                                }
                            </div>
                            <div class="col-xs-3">
                                <a class="btn btn-primary btn-block" href="#" onclick="bootcards.hideOffCanvasMenu()">
                                    <i class="fa fa-plus"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div id="divResults">
                        @foreach (var auction in Model.AuctionMD.Auctions)
                        {
                            <!--string strListing = "AuctionListing_" + auction.AuctionId;-->
                            string sImageURL = "/Images/" + auction.getCategoryImage(auction.TLCategoryName);
                            <a id="#auction-details" class="list-group-item"
                               href="@Url.Action("AuctionDetails", "Home",
                                                      new { AuctionId=auction.AuctionId, sortOrder=ViewBag.sortOrder })">
                                <img src='@sImageURL' class="img-rounded pull-left">
                                <h5 class="list-group-item-heading">@auction.Title</h5>
                                <p class="list-group-item-text">@auction.Price.ToString("C0")</p>
                                <p class="list-group-item-text">@auction.AvgPrice.ToString("C0")</p>
                            </a>
                        }
                    </div>
                </div>
                <div class="panel-footer">
                    <small class="pull-left">TechLiquidators Live Auctions</small>
                    <a class="btn btn-link btn-xs pull-right" href="#">
                        Footer link
                    </a>
                </div>


            </div>
        </div><!--panel-->
      
    </div>
</div>
<script>
    $('.mvc-grid').mvcgrid();
</script>
