@using TLAuction5.HtmlExtensions;
@using TLAuctionv5.ViewModels.Main;
@using Microsoft.Data.Entity;
@model MyViewModel


<div class="container bootcards-container no-overflow" id="main">
    <div class="row max-height">
        <div id="AuctionMaster" class="col-sm-6 bootcards-list scrollable" data-title="Auctions">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">TechLiquidator Live Auctions</h3>
                </div>
                <div class="list-group">
                    @foreach (var auction in Model.AuctionMD.Auctions)
                    {
                        <a id="#auction-details" class="list-group-item" ref="#" data-id="@auction.AuctionId">
                            <h4 class="list-group-item-heading">@(auction.AuctionId + ": " + auction.Title)</h4>
                            <div class="row no-gutters">
                                <div class="col-sm-pull-1">
                                    <i class="@Model.getDiffArrow(auction.PctDiff)"></i>
                                </div>
                                <div class="col-md-10">
                                    <table class="table">
                                        <tr>
                                            <td class="tltable">Condition:</td>
                                            <td class="tltable">@auction.ConditionName</td>
                                            <td class="tltable">MSRP:</td>
                                            <td class="tltable">@auction.MSRP.ToString("C0")</td>
                                        </tr>
                                        <tr>
                                            <td class="tltable"># of Bids:</td>
                                            <td class="tltable">@auction.Bid</td>
                                            <td class="tltable">Current Bid:</td>
                                            <td class="tltable">@auction.Price.ToString("C0")</td>
                                        </tr>
                                        <tr>
                                            <td class="tltable">EndDate:</td>
                                            <td class="tltable">@auction.EndDate.ToString("MM/dd/yy h:mm tt")</td>
                                            <td class="tltable">Quantity:</td>
                                            <td class="tltable">@auction.Quantity</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" aria-valuenow="@auction.Price" aria-valuemin="@auction.StartPrice"
                                             aria-valuemax="@(auction.EndPrice)" role="progressbar" style="@("width: " + Model.getGreenBarPct(auction.currPricePct) + "%")"></div>
                                        <div class="progress-bar progress-bar-warning" aria-valuenow="@auction.Price" aria-valuemin="@auction.StartPrice"
                                             aria-valuemax="@(auction.EndPrice)" role="progressbar" style="@("width: " + Model.getYellowBarPct(auction.currPricePct) + "%")"></div>
                                        <div class="progress-bar progress-bar-danger" aria-valuenow="@auction.Price" aria-valuemin="@auction.StartPrice"
                                             aria-valuemax="@(auction.EndPrice)" role="progressbar" style="@("width: " + Model.getRedBarPct(auction.currPricePct) + "%")"></div>
                                        <span style="@(Model.getCurrPriceStyle(auction.currPricePct) + "%;  background-color: " + Model.getBarColor(auction.currPricePct))">@auction.Price.ToString("C0")</span>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="progress-meter">
                                        <div class="meter meter-left" style="width: 0%;"><span class="meter-text">@auction.StartPrice.ToString("C0")</span></div>
                                        <div class="meter meter-right" style="width: 0%;"><span class="meter-text">@auction.EndPrice.ToString("C0")</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div id="AuctionDetails" class="col-sm-6 bootcards-cards scrollable" data-title="Manifest">
            @await Component.InvokeAsync("AuctionDetail", 0)
        </div>

    </div>
</div>

