@using TLAuction5.HtmlExtensions;
@using TLAuctionv5.ViewModels.Main;
@using Microsoft.Data.Entity;
@model MyViewModel


<div class="container bootcards-container" id="main">
    <div class="row">
        <div class="col-sm-6 bootcards-list" data-title="Auctions" style="margin-top: 80px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">TechLiquidator Live Auctions</h3>
                </div>
                <div class="list-group">
                    @foreach (var auction in Model.AuctionMD.Auctions)
                    {
                        <a id="#auction-details" class="list-group-item" ref="#" data-id="@auction.AuctionId">
                            <h4 class="list-group-item-heading">@(auction.AuctionId + ": " + auction.Title)</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="@Model.getDiffArrow(auction.PctDiff)"></i>
                                    <p class="list-group-item-text"><strong>Current Bid: </strong>@auction.Price.ToString("C0")</p>
                                    <p class="list-group-item-text"><strong>EndDate: </strong>@auction.EndDate.ToString("MM/dd/yy h:mm tt")</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="list-group-item-text"><strong class="@Model.getLowPriceColor(auction.LowPrice, auction.Price)">Lowest Price: @auction.LowPrice.ToString("C0")</strong></p>
                                    <p class="list-group-item-text"><strong class="@Model.getDiffColor(auction.PctDiff)">Average Price: @auction.AvgPrice.ToString("C0")</strong></p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
            <div class="panel-footer">
                <small class="pull-left">TechLiquidators Live Auctions</small>
                <a class="btn btn-link btn-xs pull-right" href="#">
                    Footer link
                </a>
            </div>
        </div>
        <div id="rightaffix" style="margin-top: 50px;">
            <div id="AuctionDetails" class="col-sm-6 bootcards-cards affix" data-spy="affix"  data-offset-bottom="50">
                @await Component.InvokeAsync("AuctionDetail", 0)
            </div>
        </div>
    </div>
</div>

