@using TLAuction5.HtmlExtensions;
@using TLAuctionv5.ViewModels.Main;
@using Microsoft.Data.Entity;
@using System;
@model MainViewModel


<div id="content">
    <div id="contentbody">
        <div class="psdgraphics-com-table">
            <div id="psdg-header">
                <span class="psdg-bold">@("Manifest For Auction " + ViewBag.AuctionId + "-" + ViewBag.AuctionTitle)</span><br>
            </div>
            <div id="psdg-top">
                <div class="psdg-top-cell" style="width:50px;">@Html.ActionLink("Qty", "Manifest", new { AuctionId = ViewBag.AuctionId, sortOrder = ViewBag.QtySortParm })</div>
                <div class="psdg-top-cell" style="width:90px;">@Html.ActionLink("Brand", "Manifest", new { AuctionId = ViewBag.AuctionId, sortOrder = ViewBag.BrandSortParm })</div>
                <div class="psdg-top-cell" style="width:125px;">@Html.ActionLink("Part#", "Manifest", new { AuctionId = ViewBag.AuctionId, sortOrder = ViewBag.PartSortParm })</div>
                <div class="psdg-top-cell" style="width:258px;padding: 11px 0 0 2px;">@Html.ActionLink("Product Name", "Manifest", new { AuctionId = ViewBag.AuctionId, sortOrder = ViewBag.TitleSortParm })</div>
                <div class="psdg-top-cell" style="width:90px;">@Html.ActionLink("UPC", "Manifest", new { AuctionId = ViewBag.AuctionId, sortOrder = ViewBag.UPCSortParm })</div>
                <div class="psdg-top-cell" style="width:90px;">@Html.ActionLink("SKU", "Manifest", new { AuctionId = ViewBag.AuctionId, sortOrder = ViewBag.SKUSortParm })</div>
                <div class="psdg-top-cell" style="width:90px;">@Html.ActionLink("Avg Price", "Manifest", new { AuctionId = ViewBag.AuctionId, sortOrder = ViewBag.AvgPriceSortParm })</div>
                <div class="psdg-top-cell" style="width:90px;">@Html.ActionLink("Total Price", "Manifest", new { AuctionId = ViewBag.AuctionId, sortOrder = ViewBag.TotalSortParm })</div>
                <div class="psdg-top-cell" style="width:60px;">@Html.ActionLink("Product Cnt", "Manifest", new { AuctionId = ViewBag.AuctionId, sortOrder = ViewBag.ProdCntSortParm })</div>
            </div>
            <div class="psdg-middle">
                @foreach (ManifestOpenView manifest in Model.Manifests)
                {
                    string strListing = "ProductListing_" + manifest.ProductId;
                    <div id='@strListing'>
                        <a href="@Url.Action("Product", "Home", new { ProductId = manifest.ProductId, ConditionId = manifest.ConditionId })">
                            <div class="tl-manifest-result-wrap clearfix">
                                <div class="psdg-right" style="width:50px;">@manifest.Quantity</div>
                                <div class="psdg-right" style="width:90px;">@manifest.Manufacturer</div>
                                <div class="psdg-right" style="width:125px;">@manifest.Partno</div>
                                <div class="psdg-right" style="width:258px; text-align: left; padding: 11px 0 0 2px;">@manifest.ProductTitle</div>
                                <div class="psdg-right" style="width:90px;">@manifest.UPC</div>
                                <div class="psdg-right" style="width:90px;">@manifest.Sku</div>
                                <div class="psdg-right" style="width:90px;">@manifest.AvgPrice</div>
                                <div class="psdg-right" style="width:90px;">@manifest.Total</div>
                                <div class="psdg-right" style="width:60px;">@manifest.ProductCnt</div>
                            </div>
                        </a>
                    </div>
                        }
            </div>
        </div>

    </div>
</div>




