@using TLAuctionv5.ViewModels.Main;
@using System;
@model MainViewModel

<div id="content">
    <div id="contentbody">
        <div id="listingResultsContentBody">
            <div id="featuredResultsDivParent">
                <div class="cg-listingDivider clearfix" style="background-color: #d9edf7;
    border-color: #bce8f1;"><span><h2 id="searchTitle">TechLiquidators Ended Auctions w/ Product Sales Price</h2></span></div>
                <div class="cg-listingDivider clearfix"></div>
                <div id="divResults">
                    <div class="psdgraphics-com-table">
                        <div id="psdg-header">
                            <span class="psdg-bold">@(Model.Products.FirstOrDefault().title)</span><br>
                            @("Condition: " + Model.Products.FirstOrDefault().ConditionName + "  Brand: " + Model.Products.FirstOrDefault().manufacturer +
                              "  UPC: " + Model.Products.FirstOrDefault().upc + "  Average Price: " + Model.Products.FirstOrDefault().avgprice +
                              "  Product Cnt: " + Model.Products.FirstOrDefault().productcnt)
                        </div>
                        <div id="psdg-top">
                            <div class="psdg-top-cell" style="width:70px;">@Html.ActionLink("Auction", "Product", new { ProductId = ViewBag.ProductId, ConditionId = ViewBag.ConditionId, sortOrder = ViewBag.AuctionIdSortParm })</div>
                            <div class="psdg-top-cell" style="width:270px; text-align: left;padding-left: 2px;">@Html.ActionLink("Auction Title", "Product", new { ProductId = ViewBag.ProductId, ConditionId = ViewBag.ConditionId, sortOrder = ViewBag.AuctionTitleSortParm })</div>
                            <div class="psdg-top-cell" style="width:80px;">@Html.ActionLink("Ending Bid", "Product", new { ProductId = ViewBag.ProductId, ConditionId = ViewBag.ConditionId, sortOrder = ViewBag.AuctionPriceSortParm })</div>
                            <div class="psdg-top-cell" style="width:70px;">@Html.ActionLink("End Date", "Product", new { ProductId = ViewBag.ProductId, ConditionId = ViewBag.ConditionId, sortOrder = ViewBag.EndDateSortParm })</div>
                            <div class="psdg-top-cell" style="width:270px; text-align: left;padding-left: 2px;">@Html.ActionLink("Product Title", "Product", new { ProductId = ViewBag.ProductId, ConditionId = ViewBag.ConditionId, sortOrder = ViewBag.ManifestTitleSortParm })</div>
                            <div class="psdg-top-cell" style="width:70px;">@Html.ActionLink("Item Qty", "Product", new { ProductId = ViewBag.ProductId, ConditionId = ViewBag.ConditionId, sortOrder = ViewBag.QuantitySortParm })</div>
                            <div class="psdg-top-cell" style="width:70px;">@Html.ActionLink("Item Price", "Product", new { ProductId = ViewBag.ProductId, ConditionId = ViewBag.ConditionId, sortOrder = ViewBag.SellPriceSortParm })</div>
                        </div>
                        <div class="psdg-middle">
                            @foreach (ManifestEndedView manifest in Model.ManifestsEnded)
                            {
                                string strListing = "AuctionListing_" + manifest.ProductId;
                                <div id='@strListing'>
                                    <a href="">
                                        <div class="tl-manifest-result-wrap clearfix">
                                            <div class="psdg-right" style="width:70px;">@manifest.AuctionId</div>
                                            <div class="psdg-right" style="width:270px; text-align: left; padding: 11px 0 0 2px;">@manifest.AuctionTitle</div>
                                            <div class="psdg-right" style="width:80px;">@manifest.AuctionPrice.ToString("C0")</div>
                                            <div class="psdg-right" style="width:70px;">@manifest.EndDate.Date.ToString("d")</div>

                                            @if (manifest.ManifestTitle == null)
                                            {
                                                <div class="psdg-right" style="width:270px; text-align: left; padding: 11px 0 0 2px;">
                                                    @Model.Products.FirstOrDefault().title
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="psdg-right" style="width:270px; text-align: left; padding: 11px 0 0 2px;">
                                                    @manifest.ManifestTitle
                                                </div>

                                            }
                                            <div class="psdg-right" style="width:70px;">@manifest.Quantity</div>
                                            <div class="psdg-right" style="width:70px;">@manifest.ProductPrice.ToString("C0")</div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
