@model TLAuctionv5.Models.Auction
@{ string strListing = "AuctionListing_" + Model.AuctionId;
    string sImageURL = "/Images/" + Model.getCategoryImage(Model.TLCategoryName);
}
<a href="@Url.Action("Manifest","Home", new { auctionid = Model.AuctionId })">
    <div id='@strListing'>
        <div class="ft-car cg-dealFinder-result-wrap clearfix" title="Click to see details...">
            <div class='cg-dealFinder-result-img'>
                <img src='@sImageURL'>
            </div>
            <h4 class='cg-dealFinder-result-model'>
                <span class='invisibleLayer cg-listingSearch-tick'></span>
                @Model.Title
            </h4>
            <div class='cg-dealFinder-result-deal'>
                <p><strong>MSRP:</strong>@Model.MSRP.ToString("C0")</p>
                <p><strong>Bid:</strong>@Model.Price.ToString("C0")</p>
                <p><strong>Avg Price:</strong>@Model.AvgPrice.ToString("C0")</p>
                @if (Model.PriceDiff < 0)
                {
                    <p class='pricediff-green'><strong>Difference:</strong>@Model.PriceDiff.ToString("C0")</p>
                }
                else
                {
                    <p class='pricediff-red'><strong>Difference:</strong>@Model.PriceDiff.ToString("C0")</p>
                }
            </div>
            <div class='cg-dealFinder-result-stats'>
                <p><strong>Category:</strong>@Model.TLCategoryName</p>
                <p><strong>Condition:</strong>@Model.ConditionName.ToString()</p>
                <p><strong>Num Bids:</strong>@Model.Bid.ToString()</p>
                <p><strong>End Date:</strong>@Model.EndDate.ToString()</p>
            </div>
        </div>
    </div>
</a>
